# Dependencies
node_modules/

# Next.js
.next/
out/

# NestJS build
dist/

# Environment variables
.env
.env.local
.env.production

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
Thumbs.db
.DS_Store
